html, body {
  height: 100%;
}
.CodeMirror {
  border: 1px solid #eee;
  height: 100vh !important;
}

.left {
   float: left;
   width: 50%;
}

.right {
   float: right;
   width: 50%;
   justify-content: true;
}
